body {
  background-color: #383c39;
  padding: 0;
  margin: 0;
}
h1 {
  position: relative;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  width: 50%;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 25px;
  color: #a7c664;
}
#mainContent {
  background-color: #5e5e69;
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 0px 5px #000000;
  -webkit-box-shadow: inset 0px 0px 5px #000000;
  box-shadow: inset 0px 0px 5px #000000;
}
#userSection {
  display: inline-block;
  margin: 0;
  padding: 5px;
  width: 40%;
  background-color: #737d91;
}
#userList {
  list-style: none;
}
#chatSection {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  width: 40%;
  background-color: #737d91;
}
#chatList {
  list-style: none;
}
