body {
  background-color: #383c39;
  padding: 0;
  margin: 0;
}
h1 {
  position: relative;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 30px;
  color: #a7c664;
}
h2 {
  position: relative;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  text-shadow: 0 0 2px #000000;
  color: #737d91;
}
h3 {
  margin: 0;
  padding: 0;
}
#mainContainer {
  background-color: #5e5e69;
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 0px 5px #000000;
  -webkit-box-shadow: inset 0px 0px 5px #000000;
  box-shadow: inset 0px 0px 5px #000000;
}
#chatContainer {
  display: block;
  width: auto;
  margin: 0 10px;
  padding: 0;
  background-color: #ffff00;
}
#userSection {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 5px;
  float: left;
  background-color: #737d91;
}
#userList {
  margin: 0;
  padding: 0;
  list-style: none;
}
#chatSection {
  display: inline-block;
  float: right;
  padding: 0;
  width: auto;
  background-color: #737d91;
}
#chatList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chatItem {
  margin: 5px;
  padding: 5px;
  background-color: #5e5e69;
}
#messageSection {
  display: block;
}
#messageWindow {
  width: 100%;
}
