////////////////
///SOCKET CHAT
////////////////

//VARIABLES
@colourOne: #737D91;
@colourTwo: #A7C664;
@colourThree: #383C39;
@colourFour: #5E5E69;
@colourFive: #574033;

//MIXINS
.header (@size: 25px) {
  font-family: Verdana, Geneva, sans-serif;
  font-size: @size;
}

.paragraph (@size: 18px) {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: @size;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.transparentBG (@color, @alpha) {
  background-color: rgba(red(@color), green(@color), blue(@color), @alpha);
}

.shadow (@hOffset: inset, @vOffset: 0px, @blur: 0px, @spread: 5px, @color: #000) {
  -moz-box-shadow: @hOffset @vOffset @blur @spread @color;
  -webkit-box-shadow: @hOffset @vOffset @blur @spread @color;
  box-shadow: @hOffset @vOffset @blur @spread @color;
}

.textShadow (@color: #888, @blur: 0px, @X: 1px, @Y: 1px) {
  text-shadow: @X @Y @blur @color;
}

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

//Elements
body {
  background-color: @colourThree;
  padding:0;
  margin:0;
}

h1 {
  position: relative;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  .header(30px);
  color: @colourTwo;
}

h2 {
  position: relative;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  .header(20px);
  .textShadow(#000, 2px, 0, 0);
  color: @colourOne;
}

h3 {
  margin:0;
  padding:0;
}

//Ids
#mainContainer {
  background-color: @colourFour;
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 0;
  .rounded-corners();
  .shadow();
}

#chatContainer {
  display: block;
  width: auto;
  margin: 0 10px;
  padding: 0;
  background-color: #ffff00;
}

//User Section
#userSection {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 5px;
  float: left;
  background-color: @colourOne;
}

#userList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user {

}

//Chat Section
#chatSection {
  display: inline-block;
  float: right;
  padding: 0;
  width: auto;
  background-color: @colourOne;
}

#chatList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chatItem {
  margin: 5px;
  padding: 5px;
  background-color: @colourFour;
}

//Message section
#messageSection {
  display: block;
}

#messageWindow {
 width: 100%;
}

#sendButton {

}

