// Your custom SCSS should be written here...
$errorColour:#ca3838;

#mainSection {

  #mainHeader {
    h1 {
      margin: 0;
      padding: 0;
    }
  }

  #startScreen {

    @include respond(all-phones) {
      height: 105px;
    }
    border: 1px solid #cecece;
    height: auto;
    padding: 10px;

    div {
      margin: 2px 0 0;
      padding: 0;

    }

    .join {
      @include respond(all-phones) {
        margin-top: 10px;
      }
      color: #fff;
      width: 100px;
      float: right;
    }

    .join:hover {
      cursor: pointer;
    }
  }

  #loadingScreen {
    margin-top: 20px;
    padding: 10px;

    p {
      text-align: center;
    }

    #spinner {
      display:  block;
      position: relative;
      width: 48px;
      margin: 0 auto;
    }
  }

  #userSection {
    @include respond(all-phones) {
      height: 100px;
      overflow-y: scroll;
      margin-bottom: 10px;
      border: 1px solid #cecece;
    }
    margin: 0;

    #userList {
      margin: 0;

      li {
        @include respond(all-phones) {
          font-size: 1.5em;
        }
      }
    }
  }

  #chatSection {
    @include respond(all-phones) {
      //Will figure out why math is not properly working at the moment
      height: 300px;
    }

    border: 1px solid #b0b0b0;
    height: 400px;
    overflow-y: scroll;

    #chatList {
      .chatItem:nth-child(even) {background: #FFF}
      .chatItem:nth-child(odd) {background: #eeeeee};

      .chatItem {

        padding: 10px;

        .chatName {
          font-size: 0.9em;
        }

        .chatMessage {
          color: #000;
        }

        .chatTime {
          font-size: 0.75em;
          color: #b0b0b0;
        }
      }
    }
  }

  #messageSection {
    margin: 10px 0 16px;

    @include respond(all-phones) {
      margin: 10px 0 64px;
    }

    div {
      textarea {
        @include respond(all-phones) {
          height: 35px;
        }
      }
    }

    button {
      color: #fff;
    }

    .send {
      color: #fff;
      width: 100px;
      float: right;
    }

    .send:hover {
      cursor: pointer;
    }
  }
}

.inputError {
  @extend %errorInput;
}

%errorInput::-webkit-input-placeholder {
  color: $errorColour;
}

%errorInput:-moz-placeholder { /* Firefox 18- */
  color: $errorColour;
}

%errorInput::-moz-placeholder {  /* Firefox 19+ */
  color: $errorColour;
}

%errorInput:-ms-input-placeholder {
  color: $errorColour;
}



